$color:(
    primary:  #4d59fd,
    accent: green
);

#head-background{
    clip-path: polygon(100% 0, 0 0, 28% 100%, 100% 100%);
    background-color: map-get($map: $color, $key: primary);
    position: absolute;
    top: 5%;
    right: 0;
    width: 50%;
    height: 75px;
}

#header{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 75px;
    border-bottom: solid 2px map-get($map: $color, $key: primary);
}

#navigation-bar{
    margin-top: 50px;
    width: 100%;
    .nav-view{
        color: beige;
        text-transform: uppercase;
        font-weight: bold;
        // background-color: map-get($map: $color, $key: primary);
        a{
            text-decoration: none;
            color: beige;
            background-color: map-get($map: $color, $key: primary);
            padding: 5px 25px 0px 25px;
            clip-path: polygon(0 0, 59% 0, 100% 100%, 32% 100%);
            box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.75);
        }
        a:hover{
            cursor: pointer;
        }
    }
    .nav-db{
        color: map-get($map: $color, $key: primary);
        text-transform: uppercase;
        font-weight: bold;
        a{
            text-decoration: none;
            color: map-get($map: $color, $key: primary);
            background-color: white;
            padding: 5px 25px 0px 25px;
            clip-path: polygon(0 0, 59% 0, 100% 100%, 32% 100%);
        }
        a:hover{
            cursor: pointer;
        }
    }
}

#logo{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    // position: absolute;
    margin-top: 0;
    // margin-left: 5px;
    height: 75px;
    width: 200px;
    z-index: -1;
}



#main-body{
    margin-top: 150px;
    #articles-view{
        border: solid 2px map-get($map: $color, $key: primary);
        padding: 0;

        span>h3{
            width: 100%;
            background-color: map-get($map: $color, $key: primary);
            margin-right: 0;
            padding: 15px 0 15px 0;
            text-align: center;
        };
        .articles{
            margin: 15px;
            padding: 10px;
            border-bottom: solid 2px map-get($map: $color, $key: primary);
            .save-btn, .note-btn, .delete-btn{
                height: 40px;
            }
        }
    }
}

#summary{
    text-align: justify;
}